<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]LANÇAMENTOS[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Lançamentos.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO MELHORES CANAIS COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/flixboxs/flixbox.streaming/main/base/abertos.xml</externallink>
</channel>
  
<channel>
<name>[B]ANIMES[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\animes.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO MELHORES FILMES COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/flixboxs/flixbox.streaming/main/base/base.filmes.xml</externallink>
</channel>

<channel>
<name>[B]NOVELAS[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Novelas.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO AS MELHORES SÉRIES / ANIMES COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/flixboxs/flixbox.streaming/main/base/base.series.xml</externallink>
</channel>

<channel>
<name>[B]GÊNEROS[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Gêneros.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO AS MELHORES SÉRIES / ANIMES COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/flixboxs/flixbox.streaming/main/base/base.series.xml</externallink>
</channel>

<channel>
<name>[B]TÍTULOS[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Títulos.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO AS MELHORES SÉRIES / ANIMES COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/flixboxs/flixbox.streaming/main/base/base.series.xml</externallink>
</channel>

  
</channels>
