<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]ANIMAÇÃO[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Animação.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO OS MELHORES FILMES DE ANIMAÇÃO COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/G%C3%AAneros/Animation.xml</externallink>
</channel>
  
</channels>
