<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]Temporada 1 (2021)[/B]</name>
<thumbnail>https://image.tmdb.org/t/p/original/GB68Yvv0HxPHCTVDJFQCNU17fz.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/2meX1nMdScFOoV4370rqHWKmXhY.jpg</fanart>
<info>Centenas de jogadores falidos aceitam um estranho convite para um jogo de sobrevivência. Um prêmio milionário aguarda, mas as apostas são altas e mortais.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/S%C3%A9ries/Round%206%20(2021)/Temporada%201%20(2021).xml</externallink>
</channel>


<channel>
<name>[B]Temporada 2 (2024)[/B]</name>
<thumbnail>https://image.tmdb.org/t/p/original/75yHEFH88D8NYy8ANqpJgwv6MYt.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/2meX1nMdScFOoV4370rqHWKmXhY.jpg</fanart>
<info>Salve-se quem puder! O Jogador 456 está de volta para mais jogos infantis de tirar o fôlego e novos desafios letais. Mas agora ele tem um plano secreto.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/S%C3%A9ries/Round%206%20(2021)/Temporada%202%20(2024).xml</externallink>
</channel>

  
</channels>
