<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]Temporada 1 (2025)[/B]</name>
<thumbnail>https://image.tmdb.org/t/p/original/eODcpeaj6jFoVG1kBVpNFyFh45I.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/qHCpG49qxs4owLgmhh0T62ErUZv.jpg</fanart>
<info>A 1ª temporada de Demolidor: Renascido começou a ser exibida em 4 de março de 2025.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/S%C3%A9ries/Demolidor%20Renascido%20(2025)/Temporada%201%20(2025).xml</externallink>
</channel>

  
</channels>
