<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]LANÇAMENTOS[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Lançamentos.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO MELHORES CANAIS COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/lancamento.xml</externallink>
</channel>
  
<channel>
<name>[B]TRAILERS[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Trailers.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO MELHORES FILMES COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/trailer.xml</externallink>
</channel>

<channel>
<name>[B]COLETÂNEAS[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Coletâneas.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO AS MELHORES SÉRIES / ANIMES COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/flixboxs/flixbox.streaming/main/base/base.series.xml</externallink>
</channel>

<channel>
<name>[B]GÊNEROS[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Gêneros.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO AS MELHORES SÉRIES / ANIMES COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/G%C3%AAneros/menu.xml</externallink>
</channel>

<channel>
<name>[B]TAGS[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Tags.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO AS MELHORES SÉRIES / ANIMES COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/flixboxs/flixbox.streaming/main/base/base.series.xml</externallink>
</channel>

<channel>
<name>[B]TÍTULOS[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Títulos.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO AS MELHORES SÉRIES / ANIMES COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/flixboxs/flixbox.streaming/main/base/base.series.xml</externallink>
</channel>

  
</channels>
