<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]Temporada 1 (2019)[/B]</name>
<thumbnail>https://image.tmdb.org/t/p/original/eeGRd3ENc9vetozwDDMhl9S7l3G.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/q78NtGusmqQ8aC6BsZci4z47GR4.jpg</fanart>
<info>A 1ª temporada de 7Seeds começou a ser exibida em 28 de junho de 2019.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/S%C3%A9ries/7Seeds%20(2019)/Temporada%201%20(2019).xml</externallink>
</channel>

  
</channels>
