<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]Temporada 1 (2014)[/B]</name>
<thumbnail>https://image.tmdb.org/t/p/original/i9JK2GCZHpor65gfOakoktaAhAo.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/xMNH87maNLt9n2bMDYeI6db5VFm.jpg</fanart>
<info>Já se passou mais de uma década desde o súbito aparecimento dos "portões" - os caminhos que conectam nosso mundo a uma dimensão diferente. Desde então, certos humanos despertaram para poderes sobrenaturais. Chamamos esses indivíduos de "caçadores". Os caçadores ganham a vida usando seus poderes para conquistar masmorras dentro dos portões. Neste mundo de clientes difíceis, o caçador de baixo escalão Jinwoo Sung é conhecido como "o caçador mais fraco de toda a humanidade". Um dia, Jinwoo fica fatalmente ferido quando se depara com masmorras duplas de alto escalão escondidas dentro de uma masmorra de baixo escalão. Só então, uma misteriosa janela de missão aparece na frente dele..</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/S%C3%A9ries/Solo%20Leveling%20(2024)/Temporada%201%20(2024).xml</externallink>
</channel>

  
</channels>
